{% extends 'base.html' %}
{% block title %}assignment3_2{% endblock %}
{% block content %}
<h2>Search</h2>
<form action="assignment3_2" method="get">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="{{search['name']}}"><br>
  <label for="email">Email:</label><br>
  <input id="email" name="email" value="{{search['email']}}" type="email"><br><br>
  <input type="submit" value="Search">
</form>

<h3>Users</h3>
{%for i in range(0, len)%}
<li><b>User</b> - {{users[i].name}} | <b>Email</b> - {{users[i].email}}</li>
{%endfor%}

{% if userLoggedIn == None %}
<hr />

<h2>Registration</h2>
<form action="/assignment3_2" method="post">
  <label for="nickname">Nick Name:</label><br>
  <input id="nickname" name="nickname" type="text"><br><br>
  <input type="submit" value="Register">
</form>
{% else %}
<h2>Greetings {{userLoggedIn}}</h2>
{% endif %}
<script>
</script>
{% endblock %}